
body {
    padding-top: 54px;
  }
  
  header .welcome {
    margin-top: 3em;
  }
    
  .navbar-brand img {
    height: auto;
    width: 400px; 
  }
  .card {
    height: 100%;
  }


.none, #navbarResponsive.none {display: none !important;}

.jumbotron {
  background: url("../img/About-Sol-Elijah.jpg") no-repeat top left;
  width: 100%;
  height: 650px;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -4;

}

.container.welcome {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 20px;
}


/* Media Widths */
@media (min-width: 992px) {
  body {padding-top: 56px;}
}



@media only screen and (max-width: 567px) {
  .navbar-brand img {
    height: auto;
    width: 300px;
    }

    .display-4 {
      font-size: 2.5rem;
    }

    .container.welcome {
      padding: 20px;
    }
}